<div class="bs-docs-section">
    <h1 class="page-header">Declaration</h1>

    <p>
        <strong class="h3">I confirm that:</strong>

        <ul>
            <li>I have read, understood and accept the <a href="/customer/termsAndConditions" target="_blank" rel="external">terms and conditions</a> of the Registered Traveller Service including those about how personal information is used and stored</li>
            <li>I will tell Border Force if my circumstances change, or if any new information relevant to my application becomes available</li>
            <li>the information I have supplied is complete, true and correct to the best of my knowledge and belief</li>
        </ul>
    </p>

    <p>
        <strong class="h3">I understand that:</strong>

        <ul>
            <li>my membership of the service is conditional upon acceptance by Border Force and can be withdrawn at any time</li>
            <li>my details may in certain circumstances be passed to fraud prevention agencies to prevent and detect fraud and money laundering</li>
            <li>other agencies may provide Border Force with information about me</li>
            <li>the £50 subscription charge to apply to join Registered Traveller is non-refundable</li>
        </ul>
    </p>

    <div class="form-group">
        <div>
            <input xt-validate type="checkbox" class="form-control" id="declaration" name="declaration" data-ng-model="formData.declaration" required>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button type="submit" data-ng-click="submit()" class="btn btn-success">Submit application</button>
        </div>
    </div>
</div>