<div class="bs-docs-section">
    <h1 class="page-header">Section 1 of 8</h1>

    <div class="form-group">
        <div>
            <label id="invitation-code-label" for="invitation-code">Enter your invitation code</label>

            <input xt-validate type="text" class="form-control" id="invitation-code" data-ng-model="formData.invitationCode" required data-ng-minLength="12" data-ng-maxLength="13" uppercase>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        &nbsp;<br/>
        <button data-ng-click="continue('register.particulars')" class="btn btn-success" data-ng-disabled="form.$invalid">Continue</button>
    </div>
</div>