<div class="banner" id="content">
    <div class="container">
        <h1>Registered Traveller Service</h1>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <p>&nbsp;</p>
    </div>

    <div class="row">
        <div class="col-md-11 col-sm-offset-1" role="main">
            <div class="col-sm-4">
                <div class="oval"><a data-ng-href="#/register/eligibility"><br/><br/>Register</a></div>
            </div>

            <div class="col-sm-4">
                <div class="oval"><a data-ng-href="#/customers/3181f883-72b1-4310-8cef-026a9463d69a"><br/><br/>Already Registered?</a></div>
            </div>

            <div class="col-sm-4">
                <div class="oval"><a data-ng-href="#/registered/make-payment"><br/><br/>Make Payment</a></div>
            </div>
        </div>
    </div>
</div>