<div>
    <div class="banner" id="content">
        <div class="container">
            <h1>{{schema.description}}</h1>
        </div>
    </div>

    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-sm-2">&nbsp;</div>

            <div class="col-md-8" role="main">
                <toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

                <form xt-form id="form" role="form" name="form" novalidate="novalidate">
                    <div class="form-group"
                         data-ng-repeat="property in schemaProperties"
                         data-ng-if="property.description"
                         data-ng-include="'/assets/partials/input/' + inputType(property) + '.html'">
                    </div>

                    <button type="submit" class="btn btn-success" data-ng-disabled="form.$invalid || form.$pristine" data-ng-click="submit()">Submit</button>
                </form>
            </div>

            <div class="col-sm-2">&nbsp;</div>
        </div>
    </div>
</div>