<div>
    <div class="banner" id="content">
        <div class="container">
            <h1>Make Payment (Worldpay test)</h1>
        </div>
    </div>

    <div class="container bs-docs-container">
        <div class="row">
            <div class="col-md-8 col-sm-offset-2">
                <button class="btn pay btn-primary" data-ng-click="startPayment()">Pay now</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 col-sm-offset-2" data-ng-show="gatewayOpen">
                <div>EMBEDDED WORLDPAY</div>
            </div>
        </div>
    </div>
</div>